.menu {
  list-style-type: none;
  padding: 0;
  margin-left: 0px;
  overflow: hidden;
  text-align: center;
}
.menu li {
  padding-left: 100px;
  float: left;
  display: inline;
  justify-content: center;
  position: relative;
}


/* addition*/
.menu_정책 {
  padding-left: 140px;
  float: left;
  display: inline;
  justify-content: center;
  position: relative;
}


.menu_정책 li {
  padding-left: 100px;
  float: initial;
  display: inline;
  justify-content: center;
  position: relative;
}


.menu_정책 li a {
  display: block;
  padding: 5px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.menu_정책 li a:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: black;
}

.menu_정책 .active {
  background-color: white;
  color: black;
}




li{ 
  color: white;
  padding-top: 5px;
}
.menu li a {
  display: block;
  padding: 8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.menu li a:hover {
  background-color: white;
  color: black;
}

.menu .active {
  background-color: white;
  color: black;
}

.card {
  border: solid 2px #a9a8f0;
  border-radius: 20px;
  background-color: #f3f8a7;
  padding: 10px;
}

.card :hover {
  background-color: yellow;
}
.infocard {
  border: solid 2px #a9a8f0;
  border-radius: 20px;
  background-color: #f3f8a7;
  padding: 10px;
}

#slide {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

#slide .cnt > li {
  position: absolute;
  top: 0;
  left: 300px;
  width: 450px;
  height: 600px;
  text-align: center;
  font-size: 30px;
  line-height: 300px;
  color: #fff;
  list-style-type: none;
}

#slide .cnt > li:nth-child(1) {
  background-color: #9fcbfa;
}

#slide .cnt > li:nth-child(2) {
  background-color: #ee8782;
}

#slide .cnt > li:nth-child(3) {
  background-color: #f9ceae;
}

#slide .cnt > li:nth-child(4) {
  background-color: #fff2c6;
}

#slide .btn > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  padding: 5px;
  background-color: rgba(156, 156, 156, 0);
}

#slide .btn .prev {
  left: 5px;
}

#slide .btn .next {
  right: 5px;
}

#slide .auto > button {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 0;
  padding: 5px;
  background-color: rgba(156, 156, 156, 0);
}

#slide .indi {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#slide .indi:after {
  content: "";
  display: block;
  clear: both;
}

#slide .indi > li {
  float: left;
  margin-left: 5px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 0.5;
  background-color: none;
}

#slide .indi > li.on {
  opacity: 1;
}

#slide .indi > li:first-child {
  margin-left: 0;
}


