@font-face {
  font-family: "nanum";
  src: url(./public/fonts/NanumBarunGothic.ttf);
}
body {
  font-family: "nanum";
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-left: 0px;
  overflow: hidden;
  text-align: center;
}
.menu li {
  padding-left: 100px;
  float: left;
  display: inline;
  justify-content: center;
  position: relative;
}


/* addition*/
.menu_정책 {
  padding-left: 140px;
  float: left;
  display: inline;
  justify-content: center;
  position: relative;
}


.menu_정책 li {
  padding-left: 100px;
  float: initial;
  display: inline;
  justify-content: center;
  position: relative;
}


.menu_정책 li a {
  display: block;
  padding: 5px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.menu_정책 li a:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: black;
}

.menu_정책 .active {
  background-color: white;
  color: black;
}




li{ 
  color: white;
  padding-top: 5px;
}
.menu li a {
  display: block;
  padding: 8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.menu li a:hover {
  background-color: white;
  color: black;
}

.menu .active {
  background-color: white;
  color: black;
}

.card {
  border: solid 2px #a9a8f0;
  border-radius: 20px;
  background-color: #f3f8a7;
  padding: 10px;
}

.card :hover {
  background-color: yellow;
}
.infocard {
  border: solid 2px #a9a8f0;
  border-radius: 20px;
  background-color: #f3f8a7;
  padding: 10px;
}
